//
   Created by admin on 24.01.17.
extends layout

block content
    .container
        .row.vertical-center
            .col-xs-4.col-xs-offset-4
                h2 Dashboard
        .row
            .col-xs-4.col-xs-offset-4
                .form-group
                    a(href="/profile" type="button" class="btn btn-primary") Profile
                .form-group
                    a(href="/search" type="button" class="btn btn-success") Suche