//
   Created by admin on 24.01.17.
// Modal
#estimateModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Schließen')
                    span(aria-hidden='true') &times;
                h4#myModalLabel.modal-title Abschätzung
            .modal-body
                table.table.table-bordered
                    thead
                        tr
                            th Title
                            th Min. Gehalt
                            th Max. Gehalt
                            th Durchschn. Gehalt
                    tbody
                        tr
                            td#title
                            td#minSalary
                            td#maxSalary
                            td#medianSalary
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Schließen
