//
   Created by jens on 11.01.2017.
extends layout

block content
    .container
        .row.vertical-center
            .col-xs-4.col-xs-offset-4
                h2 Profile
        .row
            .col-xs-4.col-xs-offset-4
                input#userIdInput(type="hidden" value="#{user.userId}")
                if !user.linkedInId
                    .form-group
                        a.btn.btn-primary.btn-block(href="/api/v1/users/#{user.userId}/connect/linkedIn" type="button") Connect with LinkedIn
                if !user.xingId
                    .form-group
                        a.btn.btn-success.btn-block(href="/api/v1/users/#{user.userId}/connect/xing" type="button") Connect with Xing
                .checkbox
                    label
                        if user.share == '1'
                            input#shareCb(type='checkbox' checked)
                            |  Daten Teilen
                        else
                            input#shareCb(type='checkbox')
                            |  Daten Teilen
                .form-group
                    button#saveButton.pull-right(type="button" class="btn btn-default") Speichern



    script(src='javascripts/profile.js')
