//
   Created by jens on 11.01.2017.
extends layout

block content
    .container
        .row.vertical-center
            .col-xs-4.col-xs-offset-4
                h2 profile
        .row
            .col-xs-4.col-xs-offset-4
                input#userIdInput(type="hidden") #{user.userId}
                .form-group
                    a(href="/api/v1/users/#{user.userId}/connect/linkedIn" type="button" class="btn btn-primary") LinkedIn
                .form-group
                    a(href="/api/v1/users/#{user.userId}/connect/xing" type="button" class="btn btn-success") Xing
                .checkbox
                    label
                        input#shareCb(type='checkbox')
                        |  Daten Teilen
                .form-group
                    button#saveButton(type="button" class="btn btn-default") Speichern



    script(src='javascripts/profile.js')
